G
# DS2002 — SQL Challenge Set (Homework)
## Music Streaming Service Database

**Due:** See Canvas  
**Submission:** GitHub

---

In this assignment, you will design and query a relational database for a **music streaming service**.
You will create tables, define primary and foreign keys, insert sample data, and answer analytical questions using SQL.

This homework builds directly on what you learned in:
- SQL Fundamentals in Notebooks (Lecture)
- SQLite + Joins + Grouping (Studio)

Read carefully. This is not a copy-paste exercise.


## Ground Rules (Read First)

- This is a **Kaggle notebook**
- Python cells must contain **valid Python**
- SQL must be executed using the helper function `q(""" SQL HERE """)`
- Do **not** paste raw SQL into a Python cell
- Do **not** use Markdown SQL fences in code cells

If you see `TODO`, you are expected to replace it.


## Part 0 — Setup (Run This Cell)

This cell creates an in-memory SQLite database and helper functions.

In [ ]:

import sqlite3
import pandas as pd
from IPython.display import display, Markdown

conn = sqlite3.connect(":memory:")
cur = conn.cursor()

def exec_sql(sql: str):
    cur.executescript(sql)
    conn.commit()

def q(sql: str) -> pd.DataFrame:
    return pd.read_sql_query(sql, conn)

def run_or_todo(sql: str, label: str):
    if "TODO" in sql:
        print(f"{label}: TODO — write the SQL, then re-run this cell.")
        return None
    df = q(sql)
    display(df)
    return df

print("SQLite ready.")


## Scenario: Music Streaming Service

You are designing the backend database for a music streaming service.

Users listen to **tracks**, not albums.
Albums group tracks.
Artists release albums.

Hierarchy:
**Artist → Album → Track**
Listening happens at the **Track** level.


## Part 1 — Database Design (DDL)

You must create the following tables:

- `users`
- `artists`
- `albums`
- `tracks`
- `listens`

### Relationship Requirements
- One artist → many albums
- One album → many tracks
- One user ↔ many tracks (via listens)

Create tables with:
- Primary keys
- Foreign keys
- Reasonable data types

Replace all TODOs below.

In [ ]:

# TODO: Drop tables if they exist, then CREATE all required tables

exec_sql('''
-- TODO
''')

print("Tables created.")


## Part 2 — Insert Sample Data (DML)

Insert **at minimum**:
- 5 users
- 4 artists
- 6 albums
- 15 tracks
- 30 listens

Data should be realistic enough that aggregations are meaningful.

In [ ]:

# TODO: Insert sample data into all tables

exec_sql('''
-- TODO
''')

print("Sample data inserted.")


## Part 3 — SQL Challenge Questions

Write SQL queries to answer each question.
Each cell should return a table.

### Q1. List all users.

In [ ]:

run_or_todo('''
SELECT TODO
''', label="Q1")

### Q2. List all artists.

In [ ]:

run_or_todo('''
SELECT TODO
''', label="Q2")

### Q3. List all albums with their artist name.

In [ ]:

run_or_todo('''
SELECT TODO
''', label="Q3")

### Q4. List all tracks with their album title and artist name.

In [ ]:

run_or_todo('''
SELECT TODO
''', label="Q4")

### Q5. Show all listening events with user name, track title, and timestamp.

In [ ]:

run_or_todo('''
SELECT TODO
''', label="Q5")

### Q6. How many tracks does each album contain?

In [ ]:

run_or_todo('''
SELECT TODO
''', label="Q6")

### Q7. How many listens does each track have?

In [ ]:

run_or_todo('''
SELECT TODO
''', label="Q7")

### Q8. How many listens has each user made?

In [ ]:

run_or_todo('''
SELECT TODO
''', label="Q8")

### Q9. Which tracks have been listened to more than 3 times?

In [ ]:

run_or_todo('''
SELECT TODO
''', label="Q9")

### Q10. Which album has the most total listens?

In [ ]:

run_or_todo('''
SELECT TODO
''', label="Q10")

### Q11. Which artist has the most total listens?

In [ ]:

run_or_todo('''
SELECT TODO
''', label="Q11")

### Q12. What is the average number of listens per user?

In [ ]:

run_or_todo('''
SELECT TODO
''', label="Q12")

### Q13. Which users have never listened to a track?

In [ ]:

run_or_todo('''
SELECT TODO
''', label="Q13")

### Q14. Show the top 5 most-listened-to tracks.

In [ ]:

run_or_todo('''
SELECT TODO
''', label="Q14")

### Q15. Explain why the listens table cannot be merged into users or tracks.

In [ ]:

run_or_todo('''
SELECT TODO
''', label="Q15")


## Part 4 — Reflection

Answer in 3–5 sentences.

In [ ]:

reflection = """
TODO: What was easiest?
TODO: What was hardest?
TODO: What did this assignment help you understand?
"""

print(reflection)


## Grading Rubric (100 points)

### Database Design (30 pts)
- Correct tables created (10)
- Correct primary keys (10)
- Correct foreign keys & relationships (10)

### Data Insertion (15 pts)
- Meets minimum data requirements
- Referential integrity preserved

### SQL Queries (40 pts)
- Correct logic & joins (25)
- Proper GROUP BY / HAVING usage (10)
- Clean, readable queries (5)

### Reflection & Notebook Quality (15 pts)
- Reflection completed (5)
- All cells run without error (10)


## Submission Checklist

- All TODOs replaced
- All cells run successfully
- Outputs visible
- Notebook saved
- Git URL submitted in Canvas